@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.logo {
  margin-bottom: 20px; /* Adjust this as needed */
}

html {
  font-family: Outfit;
  color: #223C69;
  background-color: white;
}

body {
  padding: 0 !important;
}

p {
  color: #67707E;
}

.background {
  position: absolute;
  right: 0;
  overflow: hidden;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-item {
  display: flex;
  width: 100%;
  /* max-width: 1800px; */
  flex-direction: row;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px;
}

.left-text-container {
  width: 640px;
  
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 3.5em;
    font-weight: 600;
  }
  h2 {
    font-size: 2em;
    font-weight: 400;
    }
  p {
    font-size: 20px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 18em;
  }
  p {
    font-size: 1.2em;
  }
  .right {
    display: none !important;
  }
}